.app-logo {
    color: white;
    font-size: 3rem;
}

.app-logo--sm {
    font-size: 3rem;
}

.app-logo--md {
    font-size: 5rem;
}

.app-logo--lg {
    font-size: 8rem;
}

.app-logo--xl {
    font-size: 12rem;
}