.app-logo {
    font-family: 'Pacifico', cursive;
    color: white;
    text-align: center;
    .app-logo__icon {
        font-size: 5rem;
    }
    .app-logo__title {
        margin-top: 0px;
        font-size: 3rem;
    }
}